<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2024-01-27T21:44:54Z</date>
		<key>munki_version</key>
		<string>6.4.2.4634</string>
		<key>os_version</key>
		<string>12.7.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>test</string>
	</array>
	<key>category</key>
	<string>Graphics</string>
	<key>description</key>
	<string>Blender is the open source, cross platform suite of tools for 3D creation.</string>
	<key>developer</key>
	<string>The Blender Foundation</string>
	<key>display_name</key>
	<string>Blender</string>
	<key>installer_item_hash</key>
	<string>759809d2d0b23bcfa42f2cfa92b707c9f97a8715e542dc330fcd1bfb15970610</string>
	<key>installer_item_location</key>
	<string>Blender-4.0.2.dmg</string>
	<key>installer_item_size</key>
	<integer>273016</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.blenderfoundation.blender</string>
			<key>CFBundleName</key>
			<string>Blender</string>
			<key>CFBundleShortVersionString</key>
			<string>4.0.2</string>
			<key>CFBundleVersion</key>
			<string>4.0.2 2023-12-05</string>
			<key>minosversion</key>
			<string>10.13</string>
			<key>path</key>
			<string>/Applications/Blender.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Blender.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.13</string>
	<key>name</key>
	<string>Blender</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>4.0.2</string>
</dict>
</plist>
